[Application]
name=Time Clocker
version=2.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=timeClocker:main
console=true

[Python]
version=3.6.1

[Include]
# Importable packages that your application requires, one per line
packages = selenium
     re
     time
     urllib
     datetime

# Other files and folders that should be installed
files = chromedriver.exe
	form.html